@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #004d99;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #00004d;
}
body {
  background: #b3d9ff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
table {
		background: #e6e6e6;
	  position: relative;
	  z-index: 1;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
h3{
	text-align: center;
}
.submitButton {
    margin: auto;
    width: 5%;
}
.submitButton button{
	cursor: pointer;
	  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #004d99;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
button:hover,.form button:active,.form button:focus {
  background: #00004d;
}
input[type='checkbox'] {

    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
li {
	cursor: pointer;
	  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #004d99;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
a {
  color:inherit;
  text-decoration: none;
 }